/ {
     inputs {
		compatible = "gpio-keys";
		signal: signal_0 {
			gpios = < &gpio0 0xd 0x11 >;
			label = "Signal of Switch";
		};
        pulse: pulse_0 {
			gpios = < &gpio0 0xf 0x11 >;
			label = "Pulse of Switch";
		};
    };
    outputs {
		compatible = "gpio-leds";
		switch: switch_0 {
			gpios = < &gpio0 0xa 0x11 >;
			label = "Switch";
		};
    };
};

&spi1 {
     status = "disabled";
};