#include <dt-bindings/gpio/gpio.h>

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

/* 
&uart0 {
	status = "disabled";
};

*/

/ {
   buttons {
      button1on: button_1on {
			gpios = < &gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 1 ON";
		};
      button2on: button_2on {
			gpios = < &gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 2 ON";
		};
      button3on: button_3on {
			gpios = < &gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 3 ON";
		};
      button4on: button_4on {
			gpios = < &gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 4 ON";
		};
      button1off: button_1off {
			gpios = < &gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 1 OFF";
		};
      button2off: button_2off {
			gpios = < &gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 2 OFF";
		};
      button3off: button_3off {
			gpios = < &gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 3 OFF";
		};
      button4off: button_4off {
			gpios = < &gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Push button switch 4 OFF";
		};
   };
   aliases {
		sw1on = &button1on;
      sw2on = &button2on;
      sw3on = &button3on;
      sw4on = &button4on;
      sw1off = &button1off;
      sw2off = &button2off;
      sw3off = &button3off;
      sw4off = &button4off;
	};
};