/ {
    leds {
		compatible = "gpio-leds";
		pumpdrain: pump_drain {
			gpios = < &gpio1 0xd 0x11 >;
			label = "Pump for Draining";
		};
		valvesdrain: valves_drain {
			gpios = < &gpio1 0xa 0x11 >;
			label = "Valves for Draining";
		};
    };
	aliases {
		pumpdrain = &pumpdrain;
		valvesdrain = &valvesdrain;
	};
};