#include <dt-bindings/gpio/gpio.h>

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

&uart0 {
	status = "okay";
};

/ {
	leds {
		compatible = "gpio-leds";
		lightctrl: lightctrl_0 {
			gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
			label = "Light CTRL 0";
		};
	};
   aliases {
	lightctrl = &lightctrl;
	};
};